@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    position: fixed;
    display: grid;
    grid-template-columns: .60fr .20fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 1fr;
    gap: 35px;
}

.me{
    position: relative;
    grid-column: 4 / span 2;
    grid-row: 1;
    margin-top: 50px;
    text-align: center;
}

#on {
    display: block;
}

#off {
    display: none;
}

.box-area {
    grid-column: 1;
    grid-row: 1 / span 4;;
    /* display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: block; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    z-index: 92;
    width: min(10%, 5rem);
}

.box-area2 {
    font-weight: 700;
    grid-column: 1;
    grid-row: 1 / span 4;;
    /* display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    z-index: 92;
    width: min(10%, 5rem);
}
.box {
    list-style: none;
    float: left;
    padding-top: 1.3em;
    width: 80%;
}


.box li{
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease-out, transform 0.2s ease-out;
    background: #f8f8f8;
    color: #040234;
    display: inline-block;
    margin: 10px;
    padding:  12px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1),
        -4px -4px 6px #fff;
    border-radius: 90%;
}

.box i {
    font-size: 1.7rempx;
   
}

.box li:hover {
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1),
        -4px -4px 6px #fff;
}

.box li:focus {
    outline: none;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1),
        -4px -4px 10px #fff,
        4px 4px 10px 0 rgba(0, 0, 0, 0.1) inset,
        -4px -4px 10px 0 #fff inset;
}

/* .box li:hover, */
.box li:focus {
    color: rgb(65, 7, 224);
}

