@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cantarell', sans-serif;
}

.container {
    position: fixed;
    display: grid;
    grid-template-columns: .60fr .20fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 35px;
    top: 10%;

}

.me {
    position: relative;
    display: block;
    grid-column: 4 / span 2;
    grid-row: 1;
    margin-top: 50px;
    text-align: center;
    color: #090753;
}

.me h1 {
    font-size: 1.9rem;
    font-weight: bold;


}

.me h3 {
    font-size: 1.314rem;
    font-family: 'Ubuntu', sans-serif;
}



.box-area {
    grid-column: 1;
    grid-row: 1 / span 4;
    ;
    /* display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: block; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    z-index: 92;
    width: min(10%, 5rem);
}

.box-area2 {
    font-weight: 700;
    grid-column: 1;
    grid-row: 1 / span 4;
    /* display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    z-index: 92;
    width: min(10%, 5rem);
}

.box {
    list-style: none;
    float: left;
    padding-top: 1.3em;
    width: 80%;

}


.box li {

    font-weight: bolder;
    cursor: pointer;
    transition: color 0.2s ease-out, transform 0.2s ease-out;
    background: #f8f8f8;
    /* color: #040234; */
    display: inline-block;
    margin: 6px;
    padding: 8px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1),
        -4px -4px 6px #fff;
    border-radius: 90%;
}

.box i {
    font-size: 1.5rem;

}

.box li:hover {
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1),
        -4px -4px 6px #fff;

}


.box li:focus {
    outline: none;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1),
        -4px -4px 10px #fff,
        4px 4px 10px 0 rgba(0, 0, 0, 0.1) inset,
        -4px -4px 10px 0 #fff inset;
    
    color: rgb(65, 7, 224);
}



/* About Panel */
.tabContainer,
.contactContainer {
    display: none;
    grid-column: 3;
    grid-row: 2 / span 3;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    padding: 50px 48px;
    z-index: 99;
    background: #f8f8f8;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
        -7px -7px 20px rgba(255, 255, 255, 1),
        0px 0px 4px rgba(255, 255, 255, .2);
    border-radius: 30px;
}


.tabPanel,
.contactPanel {
    box-shadow: inset 7px 7px 15px rgba(55, 84, 170, .15),
        inset -7px -7px 20px rgba(255, 255, 255, 1),
        inset 0px 0px 4px rgba(255, 255, 255, 0),
        0px 0px 4px rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 20px;
    transition: box-shadow .6s ease;

}

/* .tabPanel h3{
    margin: 15px 0;
} */