@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --clr-primary-200: #f2eded;
    --clr-primary-400: #2266c2;
    --clr-primary-600: #040236;

    --ff-primary: 'Cantarell', sans-serif;
    --ff-secondary: 'Ubuntu', sans-serif;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary)
}

.container {
    position: fixed;
    display: grid;
    grid-template-columns: .60fr .20fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 35px;
    top: 2rem;

}

.me {
    position: relative;
    display: block;
    grid-column: 4 / span 2;
    grid-row: 1;
    margin-top: 50px;
    text-align: center;
    color: #090753;
}

.me h1 {
    font-size: 1.9rem;
    font-weight: bold;
}

.me h3 {
    font-size: 1.314rem;
    font-family: var(--ff-secondary)
}

.box-area {
    grid-column: 1;
    grid-row: 1 / span 4;


    justify-content: center;
    align-items: center;
    font-weight: 700;

    z-index: 92;
    width: min(10%, 5rem);
}

.box-area2 {
    font-weight: 700;
    grid-column: 1;
    grid-row: 1 / span 4;

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 92;
    width: min(10%, 5rem);
}

.box {
    list-style: none;
    float: left;
    padding-top: 1em;
    width: 80%;
}


.box li {
    font-weight: bolder;
    cursor: pointer;
    transition: color 0.2s ease-out, transform 0.2s ease-out;
    background: var(--clr-primary-200);
    color: var(--clr-primary-600);
    display: inline-block;
    margin: 6px;
    padding: 8px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1),
        -4px -4px 6px #fff;
    border-radius: 90%;
}

.box i {
    font-size: 1.5rem;

}

.box li:hover {
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1),
        -4px -4px 6px #fff;

}



.box li:focus {
    outline: none;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1),
        -4px -4px 10px #fff,
        4px 4px 10px 0 rgba(0, 0, 0, 0.1) inset,
        -4px -4px 10px 0 #fff inset;

    color: var(--clr-primary-400);
}



/* About, Contact Panel */
.contactContainer,
.aboutContainer {
    display: none;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* max-width: 600px; */
    width: 80%;
    padding: 50px 48px;
    z-index: 99;
    background: #f2eded;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
        -7px -7px 20px rgba(255, 255, 255, 1),
        0px 0px 4px rgba(255, 255, 255, .2);
    border-radius: 30px;
}

.githubContainer,
.linkedinContainer {

    display: none;
    margin: auto;
    position: fixed;
    /* top: 40%; */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    /* max-width: 600px; */
    margin-top: 13rem;
    padding: 20px 38px;
    z-index: 99;
    background: #f2eded;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
        -7px -7px 20px rgba(255, 255, 255, 1),
        0px 0px 4px rgba(255, 255, 255, .2);
    border-radius: 30px;
}


.aboutPanel,
.contactPanel {
    box-shadow: inset 7px 7px 15px rgba(55, 84, 170, .15),
        inset -7px -7px 20px rgba(255, 255, 255, 1),
        inset 0px 0px 4px rgba(255, 255, 255, 0),
        0px 0px 4px rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 20px;
    transition: box-shadow .6s ease;

}



.githubContainer h3 {
    font-size: 1.3rem;
    color: #242a2f;

}

.linkedinContainer h3 {
    font-size: 1.3rem;
    color: #2266c2;
}

.githubContainer p,
.linkedinContainer p {
    font-family: 'Ubuntu', sans-serif;
    font-size: .8rem;
    /* color: #2266c2; */
}




/* linkedin panel images */

.githubContainer img,
.linkedinContainer img {
    width: 35%;
    height: 200px;
    margin: auto;
}

/*  buttons on linkedin and github panels */
.buttonContainer {
    display: flex;
    /* border: 4px solid #ebecf0; */
    border-radius: 15px;
    margin-bottom: 15px;

}

button {
    padding: 10px;
    color: #535d74;
    background: #f2eded;
    transition: box-shadow .4s ease;
    cursor: pointer;
    border: none;
    outline: none;

}

button:first-child {
    border-radius: 11px 0 0 11px;

}

button:last-child {
    border-radius: 0 11px 11px 0;

}

button.active {
    box-shadow: inset 7px 7px 15px rgba(55, 84, 170, .15),
        inset -7px -7px 20px rgba(255, 255, 255, 1),
        inset 0px 0px 4px rgba(255, 255, 255, 0);
}

.tabPanel {
    box-shadow: inset 7px 7px 15px rgba(55, 84, 170, .15),
        inset -7px -7px 20px rgba(255, 255, 255, 1),
        inset 0px 0px 4px rgba(255, 255, 255, 0),
        0px 0px 4px rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 20px;
    transition: box-shadow .6s ease;
    display: none;
}

.tabPanel.active {
    display: flex;
    animation: anim 1.6s ease-in-out;
}

@keyframes anim {
    0% {
        opacity: 0.6%;
    }

    100% {
        opacity: 1;
    }
}

.textContent {
    color: #535d74;
    padding: 1rem;
}

/* portfolio cards  */
section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #92dfec;
}

.main-title h2 {
    font-size: 1.2rem;
    padding: .75rem 0;
}

.main-title p {
    font-weight: 400;
    font-size: .85rem
}

.card {
    margin: 30px;
    width: min-content;
    height: 30rem;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 7px 7px 10px rgba(55, 84, 170, .15),
        -7px -7px 20px #fff,
        1px 1px 4px rgba(255, 255, 255, .2);
}

.imagebox {
    width: 246px;
    height: 196px;
    border-radius: 10px;
    border: 1px ridged #f3f4f7;
    overflow: hidden;
    box-shadow: 7px 7px 10px rgba(55, 84, 170, .15),
        -7px -7px 20px #fff,
        1px 1px 4px rgba(255, 255, 255, .2);
}


.imagebox img {
    border-radius: 10px;
}